@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

* {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.3em;
}

img {
  max-width: 80%;
  max-height: 60vh;
}

@media (max-width: 1000px) {
  .App,
  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 96vw;
    height: 96vh;
  }

  img {
    margin-bottom: 10em;
  }
}

@media (min-width: 1001px) {
  .App,
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
    background-color: white;
    width: 96vw;
    height: 96vh;
  }
}

h1 {
  font-size: 1em;
}
