@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  margin: auto;
  width: 100%;  
  height: 100%;
} 

body {
  font-family: 'Lato', serif;
  font-size: 0.8em;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;  
  transition: 0.5s ease-in-out;
  animation: GradientMove 10s ease-in infinite;
  background-size: 300% 300%;
}

button, #sign, #sign_a {
  cursor: default;
}

button {
  margin: 1em;
  border: none; 
  outline: none;
  color: #444444;
  padding: 18px 16px 10px 20px;
  border-bottom: 1px solid white;
  transition: 0.5s ease-in-out;
}

button:hover {
  border-bottom: 0.7px solid black;
}

.page {
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  opacity: 1;
  margin-top: 4em;
  display: flex;
  justify-content: center;
  width: 100vh;  
  height: 80vh;
  animation: fadeIn 1s ease-in-out;
}

.contentText {
  margin-top: 4em;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
  width: 100vh;  
  height: 100vh;
}

.contentBio {
  margin-top: 4em;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100vh;  
  height: 100vh;
}

.contentText {
  margin-top: 4em;
  margin-bottom: 4em;
  display: flex;
    flex-direction: row;
  justify-content: center;
  width: 100vh;  
  height: 80vh;
}

.contentWork {
  margin-top: 4em;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vh;  
  height: 80vh;
}

#sign, #sign_a {
  position: absolute;
  top: 40vh;
}

#sign {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

#sign:hover {
  opacity: 1;
}

#sign_a {
  opacity: 0;
  transform: perspective(300px) rotateX(60deg) scale(0.96);
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mainMenu {
  opacity: 0;
}

#mainMenu_a {
  opacity: 1;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  width: 100%;
  opacity: 1;
}

.workMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
  transform: scale(0.96);
  position: relative;
  transition: 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transform: scale(1) rotateX(0deg);

}

.setScale {
  opacity: 1;
  transform: scale(0.96) rotateX(0deg);
  display: block;
}

.bioText {
  margin-left: 20vh;
}

.imgBio {
  margin-right: 3em;
  max-width: 461px;
  max-height: 600px;
}

.introImg {
  width: 800px;
  height: 591px;
  animation: fadeIn 1s ease-in-out;
}

.introImg0 {
  margin: 2em;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0%{opacity: 0;} 
  100%{opacity: 1;}
}

@keyframes GradientMove { 
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
} 
