@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  margin: auto;
  width: 100%;  
  height: 100%;
} 

body {
  font-family: 'Lato', serif;
  font-size: 1em;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;  
  transition: 0.5s ease-in-out;
  animation: GradientMove 10s ease-in infinite;
  background-size: 300% 300%;
}

button, #sign, #sign_a {
  cursor: default;
}

button {
  margin: 1em;
  border: none; 
  outline: none;
  color: #444444;
  padding: 18px 16px 10px 20px;
  border-bottom: 1px solid white;
  transition: 0.5s ease-in-out;
}

button:hover {
  border-bottom: 0.7px solid black;
}

.content {
  
}

#sign, #sign_a {
  position: absolute;
  top: 40vh;
}

#sign {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

#sign:hover {
  opacity: 1;
}

#sign_a {
  opacity: 0;
  transform: perspective(300px) rotateX(60deg) scale(0.96);
}

#mainMenu {
  opacity: 0;
}

#mainMenu_a {
  opacity: 1;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  width: 100%;
  opacity: 1;
}

.workMenu {
  opacity: 0;
  transform: scale(0.96);
  position: relative;
  transition: 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transform: scale(1) rotateX(0deg);
  display: block;
}

.setScale {
  opacity: 1;
  transform: scale(0.96) rotateX(0deg);
  display: block;
}

@keyframes GradientMove { 
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
} 
